#video {
  position: fixed;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  object-fit: fill;
}

#button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  text-transform: uppercase;
  background: linear-gradient(to right, rgb(126, 207, 175), rgb(198, 198, 138));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 45px;
}

.text2 {
  text-transform: uppercase;
  background: linear-gradient(to right, rgb(126, 207, 175), rgb(198, 198, 138));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
}